body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0 au
}

header {
    height: 75px;
    min-width: 100%;
    margin: 0 auto; 
}

header img {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

header li {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
}