body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0 auto;
    max-width: 900px;
    border: solid 1px orange;
}

header {
    height: 75px;
    min-width: 100%; 
}

header img {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

header li {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
}


.body-head h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.body-head h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

.body-head div {
    float: right;
}

.hero {
    margin: 0 auto;
}

.directions p {
    text-indent: 25px;
    line-height: 1.6;
}

.ingredients img {
    position: absolute;
    margin-top: 25px;
    z-index: -1;
}

.ingredients ul {
    margin-top: 70px;
    list-style-type: square;
    font-family: 'Mali', cursive;
    line-height: 2;
}

.ul-1 {
    margin-left: 100px;
    float: left;
}

.ul-2 {
    margin-right: 25px;
    float: right;
}

.bio {
    margin-top: 350px;
}

.bio img {
    float: left;
    margin-right: 10px;
}

.bio h3 {
    /* float: left; */
    font-size: 20px;
    font-weight: bold;
}

.bio p {
    float: left;
    max-width: 350px;
    margin-top: 5px;
}

.about {
  float: 
}

.bio button {
    float: right;
    border: none;
  background: #000;
  color: #fff;
  padding: 8px 20px;
  transition: 350ms all;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 20px;
}

#dash {
  margin-top: 20px;
  margin-bottom: 20px;
}

#line1 {
  float: left;
  width: 45%;
}

#dash2 {
  margin-left: 25px;
}

#line2 {
  float: right;
  width: 45%;
}
